.env
/env/*
/app/audio/*
/app/logs/*
OAI_CONFIG_LIST.json
/tmp/*
*.ipynb
/test/*
*.wav
/pgvector/*
/bin/*
/static/*
*.crt.pem
*.pdf
/output/*
/notebook/*

**/__pycache__/*
/__pycache__/*
*.pem